NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY

NEXT_PUBLIC_SANITY_PROJECT_ID
NEXT_PUBLIC_SANITY_DATASET
NEXT_PUBLIC_SANITY_ORG_ID
SANITY_API_TOKEN
NEXT_PUBLIC_SANITY_API_TOKEN
NEXT_PUBLIC_SANITY_API_VERSION
STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
GOOGLE_GENERATIVE_AI_API_KEY
PHONEPE_MODE
PHONEPE_CLIENT_ID
PHONEPE_CLIENT_SECRET
PHONEPE_CLIENT_VERSION
PHONEPE_MERCHANT_ID
PHONEPE_WEBHOOK_USERNAME
PHONEPE_WEBHOOK_PASSWORD
NEXT_PUBLIC_BASE_URL